import React from 'react'
import { NextSeo } from 'next-seo'
import { {{camelCase name}}SEO } from 'seo/{{pascalCase name}}/route'

const {{pascalCase name}}Route = () => {
  const routeSEO = {
    ...{{camelCase name}}SEO
  }

  return (
    <NextSeo {...routeSEO}>
      <div></div>
    </NextSeo>
  )
}

export async function getStaticPaths() {
  // Return a list of possible value for id
}

export async function getStaticProps({ params }) {
  // Fetch necessary data for the blog post using params.id
}

export default {{pascalCase name}}Route