{{#hasHook hooks}}
  {{#hasBothHooks hooks}}
import React, { useEffect, useState } from 'react'
  {{else}}
    {{#ifIn  "useEffect" hooks}}
import React, { useEffect } from 'react'
    {{/ifIn}}
    {{#ifIn  "useState" hooks}}
import React, { useState } from 'react'
    {{/ifIn}}
  {{/hasBothHooks}}
{{else}}
import React from 'react'
{{/hasHook}}
{{#ifNotEqual "no" cssinjs}}
import styled from '{{cssinjs}}'

const Wrapper = styled.div``
{{/ifNotEqual}}
{{#ifIn "usestate" hooks}}
  {{#ifEqual "yes" withexamples}}

type {{pascalCase name}}State = {
  mounted: boolean
}

const initialState: {{pascalCase name}}State = {
  mounted: false,
}
  {{else}}

// @NOTE: Linter will most likely complain and suggest Record<string, unknown>
// But left as {} for your to fill in your state signature
type {{pascalCase name}}State = {}

const initialState: {{pascalCase name}}State = {}
  {{/ifEqual}}
{{/ifIn}}
{{#ifEqual "yes" withexamples}}

type {{pascalCase name}}Props = {
  title?: string
  children?: React.ReactNode
}

const {{pascalCase name}} = ({ children }: {{pascalCase name}}Props) => {
{{else}}

// @NOTE: Linter will most likely complain and suggest Record<string, unknown>
// But left as {} for your to fill in your props signature
type {{pascalCase name}}Props = {}

const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
{{/ifEqual}}
{{#ifIn "usestate" hooks}}
  const [state, setState] = useState({ ...initialState })

{{/ifIn}}
{{#ifIn "useeffect" hooks}}
  useEffect(() => {
  {{#ifEqual "yes" withexamples}}
    // Do stuff on mount here
    setState((currentState) => ({ ...currentState, mounted: true }))
    // Do stuff on unmount here
    return () => {}
  {{/ifEqual}}
  }, [])
{{/ifIn}}

  return (
  {{#ifNotEqual "no" cssinjs}}
    {{#ifEqual "yes" withexamples}}
    <Wrapper>
      <h1>{title}</h1>
      {children}
    </Wrapper>
    {{else}}
    <Wrapper>Here more TSX</Wrapper>
    {{/ifEqual}}
  {{else}}
    {{#ifEqual "yes" withexamples}}
    <div>
      <h1>{title}</h1>
      {children}
    </div>
    {{else}}
    <div>Here more TSX</div>
    {{/ifEqual}}
  {{/ifNotEqual}}
  )
}

{{pascalCase name}}.displayName = '{{pascalCase name}}'
{{pascalCase name}}.defaultProps = {}

export default {{pascalCase name}}
