{{#hasHook hooks}}
import React, { {{#ifIn "usestate" hooks}}useState{{#ifIn "useEffect" hooks}}, {{/ifIn}}{{/ifIn}}{{#ifIn "useEffect" hooks}}useEffect{{/ifIn}} } from 'react'
{{else}}
import React from 'react'
{{/hasHook}}
{{#ifNotEqual "no" cssinjs}}
import styled from '{{cssinjs}}'

const Wrapper = styled.div``
{{/ifNotEqual}}
{{#ifIn "usestate" hooks}}
  {{#ifEqual "yes" withexamples}}

const initialState = {
  mounted: false,
}
  {{else}}

const initialState = {}
  {{/ifEqual}}
{{/ifIn}}
{{#ifEqual "yes" withexamples}}

const {{pascalCase name}} = ({ children }) => {
{{else}}

const {{pascalCase name}} = (props) => {
{{/ifEqual}}
{{#ifIn "usestate" hooks}}
  const [state, setState] = useState({ ...initialState })

{{/ifIn}}
{{#ifIn "useeffect" hooks}}
  useEffect(() => {
  {{#ifEqual "yes" withexamples}}
    // Do stuff on mount here
    setState((currentState) => ({ ...currentState, mounted: true }))
    // Do stuff on unmount here
    return () => {}
  {{/ifEqual}}
  }, [])
{{/ifIn}}

  return (
  {{#ifNotEqual "no" cssinjs}}
    {{#ifEqual "yes" withexamples}}
    <Wrapper>
      <h1>{title}</h1>
      {children}
    </Wrapper>
    {{else}}
    <Wrapper>Here more TSX</Wrapper>
    {{/ifEqual}}
  {{else}}
    {{#ifEqual "yes" withexamples}}
    <div>
      <h1>{title}</h1>
      {children}
    </div>
    {{else}}
    <div>Here more TSX</div>
    {{/ifEqual}}
  {{/ifNotEqual}}
  )
}

{{pascalCase name}}.displayName = '{{pascalCase name}}'
{{pascalCase name}}.defaultProps = {}

export default {{pascalCase name}}
