{{#hasHook}}
import React, { {{#ifIn "usestate" hooks}}useState{{#ifIn "useEffect" hooks}}, {{/ifIn}}{{/ifIn}}{{#ifIn "useEffect" hooks}}useState{{/ifIn}} } from 'react'
{{else}}
import React from 'react'
{{/hasHook}}
{{#ifNotEqual "no" cssinjs}}
import styled from '{{cssinjs}}'

const Wrapper = styled.div``

{{/ifNotEqual}}
{{#ifIn "usestate" hooks}}
  {{#ifIn "withexamplecode" aid}}
const initialState = {
  mounted: false,
}

  {{else}}
  {{#ifIn "withcomments" aid}}
// @NOTE: Linter will most likely complain and suggest Record<string, unknown>
// But left as {} for your to fill in your state signature
  {{/ifIn}}
const initialState = {}

  {{/ifIn}}
{{/ifIn}}
{{#ifIn "withexamplecode" aid}}
const {{pascalCase name}} = ({ children }) => {

{{else}}
{{#ifIn "withcomments" aid}}
// @NOTE: Linter will most likely complain and suggest Record<string, unknown>
// But left as {} for your to fill in your props signature
{{/ifIn}}
type {{pascalCase name}}Props = {}

const {{pascalCase name}} = (props) => {
{{/ifIn}}
{{#ifIn "usestate" hooks}}
  const [state, setState] = useState({ ...initialState })
  
{{/ifIn}}
{{#ifIn "useeffect" hooks}}
  useEffect(() => {
  {{#ifIn "withexamplecode" aid}}
    {{#ifIn "withcomments" aid}}
    // Do stuff on mount here
    {{/ifIn}}
    setState((currentState) => ({ ...currentState, mounted: true }))
    {{#ifIn "withcomments" aid}}
    // Do stuff on unmount here
    {{/ifIn}}
    return () => {}
  {{/ifIn}}
  }, [])

{{/ifIn}}
  return (
  {{#ifNotEqual "no" cssinjs}}
    {{#ifIn "withexamplecode" aid}}
    <Wrapper>{children}</Wrapper>
    {{else}}
    <Wrapper>Here more JSX</Wrapper>
    {{/ifIn}}
  {{else}}
    {{#ifIn "withexamplecode" aid}}
    <div>{children}</div>
    {{else}}
    <div>Here more JSX</div>
    {{/ifIn}}
  {{/ifNotEqual}}
  )
}

{{pascalCase name}}.displayName = '{{pascalCase name}}'
{{pascalCase name}}.defaultProps = {}

export default {{pascalCase name}}
